@import "bootstrap";

.bg-gray {
  background-color: $gray-800;
}

.guess {
  display: flex;
  flex-wrap: nowrap;

  @extend .border;
  @extend .border-dark;
  @extend .rounded;
  @extend .p-2
}

.guess.correctLength {
  @extend .border-success;
}

.letter {
  display: flex;
  height: 4rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.letter {
  @extend .border;
  @extend .border-light;
  @extend .rounded;

  margin-right: 1rem;

  text-transform: uppercase;
}

.letter:last-child{
  margin-right: 0;
}
